!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href=>"/main.css", :type=>"text/css"}
%body{:onload => "init('default')"}
    %script{:type => "text/javascript", :src => "/index.js"}
    .wrapper
        .header
            %h1 Not Found
        .core
            .control
            .content
                %h1 404
        .footer
            %ul.navlist
                %li
                    %a{:href => "/"} Home
