!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href=>"/main.css", :type=>"text/css"}
%body{:onload => "init()"}
    %script{:type => "text/javascript", :src => "/index.js"}
    .wrapper
        .header
            %h1=username
        .core
            .control
                %ul
                    %li
                        %a{:href => "#default", :onclick => "focusTab('default')"} Info
                    %li
                        %a{:href => "#map", :onclick => "focusTab('map')"} Map
            .content
                %h2=character.monicker
                %div.tabs
                    %div.hiddentab#default
                        %h3 Attributes
                        %table
                            %tr
                                %th Attribute
                                %th Intrinsic
                            -character.attribute_list.each do |attribute|
                                %tr
                                    %td=attribute
                                    %td
                                        %div.progress
                                            %span{:style => "width: #{(character.attribute(attribute).get_property(:intrinsic) * 100).to_i}%"}
                        %h3 Skills
                        %table
                            %tr
                                %th Skill
                                %th Intrinsic
                                %th Familiarity
                            -character.skill_list.each do |skill|
                                %tr
                                    %td=skill
                                    %td
                                        %div.progress
                                            %span{:style => "width: #{(character.skill(skill).get_property(:intrinsic) * 100).to_i}%"}
                                    %td
                                        %div.progress
                                            %span{:style => "width: #{(character.skill(skill).get_property(:familiarity) * 100).to_i}%"}
                    %div.hiddentab#map
                        %img{:src => lobby.map_uri_for(username)}
        .footer
            %ul.navlist
                %li
                    %a{:href => "/"} Home
                %li
                    %a{:href => lobby.web_uri} Lobby
