<%
    username = args.first.unescape
    character = @game_core.get_character(username)

    map_name     = "map.png"
    map_location = File.join(directory_for(username), map_name)
    map_uri      = File.join(uri_for(username), map_name)
    unless File.exist?(map_location)
        map_data = @game_core.world.get_map({character.absolute_position => :red})
        f = File.open(map_location, 'w')
        f.write(map_data)
        f.close
    end

%>

<!DOCTYPE HTML>
<head>
    <title>Bushido Mongers</title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1><%= username %></h1>
        </div>

        <div id="core">
            <section id="map">
                <img src="<%= map_uri %>">
            </section>
            <section id="character_data">
                <h2><%= character.monicker %>
            </section>
        </div>

        <div id="footer">
        </div>
    </div>
</body>
