!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href=>"main.css", :type=>"text/css"}
%body
    #wrapper
        %header
            %h1=username
        #core.clearfix
            %section#map.clearfix
                %img{:src => lobby.map_uri_for(username)}
            %section#data.clearfix
                %h2=character.monicker
        %footer
