!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href=>"main.css", :type=>"text/css"}
%body{:onload => "init('default')"}
    %script{:type => "text/javascript", :src => "index.js"}
    .wrapper
        .header
            %h1=username
        .core
            .control
            .content
                %h2=character.monicker
                %img{:src => lobby.map_uri_for(username)}
        .footer
            %ul.navlist
                %li
                    %a{:href => "/"} Home
                %li
                    %a{:href => lobby.web_uri} Lobby
