-username  = args.first.unescape
-character = @game_core.get_character(username)

!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href=>"main.css", :type=>"text/css"}
%body
    #wrapper
        %header
            %h1=username
        #core.clearfix
            %section#map.clearfix
                %img{:src => File.join(uri_for(username), "map.png")}
            %section#data.clearfix
                %h2=character.monicker
        %footer
