!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href => "/main.css", :type => "text/css"}
%body{:onload => "init()"}
    %script{:type => "text/javascript", :src => "/console.js"}
    .wrapper
        .header
            %h1 Bushido Mongers
        .core
            %ul#console
            %form{:onsubmit => 'javascript:send_data(); return false;'}
                %input#input_field{:type => 'text'}
                %input{:type => 'button', :id => 'send_input_field', :value => 'Send', :onclick => 'send_data();'}
        .footer
            %ul.navlist
                %li
                    %a{:href => "/"} Home
