<%
    lobby_list = []
    @lobby_mutex.synchronize do
        lobby_list = @lobbies.collect do |lobby|
            if WebEnabledLobby === lobby
                "<a href=\"#{lobby.web_uri}\">#{lobby.name}</a>"
            else
                lobby.name
            end
        end
    end
%>

<!DOCTYPE HTML>
<head>
    <title>Bushido Mongers</title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Bushido Mongers</h1>
        </div>

        <div id="core">
            <ul>
            <% lobby_list.each do |lobby| %>
            <li><%= lobby %></li>
            <% end %>
            </ul>
        </div>

        <div id="footer">
        </div>
    </div>
</body>
