<%
    lobby_list = []
    @lobby_mutex.synchronize do
        lobby_list = @lobbies.collect do |lobby|
            if WebEnabledLobby === lobby
                "<a href=\"#{lobby.web_uri}\">#{lobby.name}</a>"
            else
                lobby.name
            end
        end
    end
%>

<!DOCTYPE HTML>
<html><head><title>Bushido Mongers</title></head>
<link rel="stylesheet" href="main.css" type="text/css"/>
<body>
    <table>
        <tr>
            <th>Bushido Mongers</th>
        </tr>
        <% lobby_list.each do |lobby| %>
        <tr><td><%= lobby %></td></tr>
        <% end %>
    </table>
</body>
</html>
