!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href => "/main.css", :type => "text/css"}
%body{:onload => "init()"}
    %script{:type => "text/javascript", :src => "/index.js"}
    .wrapper
        .header
            %h1 Bushido Mongers
        .core
            .control
                %h3 Game Lobbies
                %ul
                    -game_server.each_lobby do |lobby|
                        -if WebEnabledLobby === lobby
                            %li
                                %a{:href => lobby.web_uri}=lobby.name
                        -else
                            %li=lobby.name
            .content
                %div.tabs
                    %div.hiddentab#default Choose a lobby for more information
        .footer
            %ul.navlist
                %li
                    %a{:href => "/"} Home
