<%
    map_name     = "map.png"
    map_location = File.join(web_directory, map_name)
    map_uri      = File.join(web_uri, map_name)
    map_data     = @game_core.world.get_map
    f = File.open(map_location, 'w')
    f.write(map_data)
    f.close

    user_list = @users.keys.collect do |username|
        "<a href=\"#{uri_for(username)}\">#{username}</a>"
    end
%>

<!DOCTYPE HTML>
<head>
    <title>Bushido Mongers</title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1><%= @name %></h1>
        </div>

        <div id="core">
            <section id="map">
                <img src="<%= map_uri %>">
            </section>
            <section id="users">
                <ul>
                <% user_list.each do |username| %>
                    <li><%= username %></li>
                <% end %>
                </ul>
            </section>
        </div>

        <div id="footer">
        </div>
    </div>
</body>
