!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href=>"main.css", :type=>"text/css"}
%body
    #wrapper
        %header
            %h1 Bushido Mongers
        #core.clearfix
            %section#map.clearfix
                %img{:src => lobby.map_uri}
            %section#data.clearfix
                %h2 Users
                %ul
                    -lobby.user_list.each do |user|
                        %li
                            %a{:href => lobby.uri_for(user)}=user
        %footer
