!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href=>"main.css", :type=>"text/css"}
%body
    #wrapper
        %header
            %h1 Bushido Mongers
        #core.clearfix
            %section#map.clearfix
                %img{:src => File.join(web_uri, "map.png")}
            %section#data.clearfix
                %h2 Users
                %ul
                    -@users.keys.each do |username|
                        %li
                            %a{:href => uri_for(username)}=username
        %footer
