/* Sending fonts is really slow :( */
@font-face {
    font-family: 'Beginning Yoga';
    src: url('beginning_yoga.ttf');
}

@font-face {
    font-family: 'Ninja Naruto';
    src: url('ninja_naruto.ttf');
}

body {
    background: #000000;
    color: #aaaaaa;
    font-family: 'Ninja Naruto', 'Arial', sans-serif;
    margin: 50px;
    padding: 0;
    text-align: left;
}

div#wrapper {
    background: rgba(55, 50, 50, 1.0);
    color:      rgba(100, 100, 100, 1.0);
    border-radius: 3px;
    padding: 10px;
}

header {
    text-align: center;
}

div#core {
    background: rgba(10, 10, 10, 0.2);
    /*color: #000000;*/
    padding: 5px;
    box-shadow: 0px 0px 4px #000;
}

footer {
}

section#map {
    float: left;
}

section#data {
    float: right;
}

a:link {
    color: rgba(100, 100, 100, 1.0);
    text-decoration: none;
}
a:hover   { color: rgba(150, 150, 150, 1.0); }
a:visited { color: rgba(100, 100, 100, 1.0); }
a:active  { color: rgba(100, 100, 100, 1.0); }

li {
    list-style-type: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
