/* Sending fonts is really slow :( */
@font-face {
    font-family: 'Beginning Yoga';
    src: url('beginning_yoga.ttf');
}

@font-face {
    font-family: 'Ninja Naruto';
    src: url('ninja_naruto.ttf');
}

body {
    background: black;
    color: white;
    font-family: 'Ninja Naruto', 'Arial', sans-serif;
}

div.wrapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 2px solid rgb(64,64,64);
}

div.header, div.footer {
    padding: 5px;
    margin: 0px;
    clear: left;

    background: rgb(64,64,64);
    color: white;
}

div.core {
    float: left;
    margin: 0px;
    padding: 0px;
    background: rgb(16,16,16);
    width: 100%;
}

div.control {
    margin-right:5px;

    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 160px;

    float: left;
    overflow: hidden;

    border-right: 2px solid rgb(64,64,64);
}

div.control ul {
    list-style-type: none;
}

div.control ul li {
    margin-bottom: 20px;
}

div.control ul li a {
}

div.content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    margin-left: 165px;
}

div.hiddentab {
    display: none;
}

div.tab {
}

ul.navlist {
    padding: 0;
    list-style-type: none;
}

ul.navlist li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}
