ServerDisconnected {
  string reason;
};

AssignName {
  string name;
};

CreateCharacter {
  string name;
};

LoadCharacter {
  BObjectID ID;
};

UnloadCharacter {
};

CharacterReady {
  BObjectID ID;
};

CharacterNotReady {
  string reason;
};

RawData {
  string packed;
};

AreaData {
  string name;
  IVec2 position;
  IVec2 size;
};

TileData {
  set<IVec2> shrouded;
  set<IVec2> visible;
  map<IVec2, TileDatum> updated;
};

ObjectData {
  BObjectID ID;
  string prototype;
};

MoveCharacter {
  IVec2 direction;
};

ThingMoved {
  BObjectID object;
  BObjectID subject;
  IVec2 source;
  IVec2 destination;
};

MoveFailed {
  string reason;
};
